<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower Predictor</title>
</head>
<body>
    <h2>Iris Flower Prediction</h2>
    <form action="/predict" method="post">
        <input type="text" name="sepal_length" placeholder="Sepal Length" required><br>
        <input type="text" name="sepal_width" placeholder="Sepal Width" required><br>
        <input type="text" name="petal_length" placeholder="Petal Length" required><br>
        <input type="text" name="petal_width" placeholder="Petal Width" required><br><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>

